/*
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

img {
	max-width: 100%;
	height: 500px;
}

section {
	width: 400px;
	margin: 0 auto;
}

main {
	padding: 8px;
	padding-top: 28px;
}

hr {
	width: 400px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
*/

img {
	max-width: 100%;
	height: 300px;
}

.hello {
	max-width: 100%;
	height: 600px;
}

.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 30px;
}

.demo-container {
  max-width: 430px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  margin-bottom: 80px;
  margin: 0 auto;
}

/*.demo-content h3 {
  margin-top: 48px;
}*/

.demo-footer {
  padding-left: 40px;
  margin-top: 100px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.ggg {
	width: calc(100% - 16px);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}


.www {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}

.rrr {
	width: 93%;
	padding: 0px;
}
